<a href="https://colab.research.google.com/github/parulsharma098/EDA-Project-Progress/blob/main/EDA_ANALYSIS_DAY_1_(Global_Terrorism_Analysis)_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> The Global Terrorism Database (GTD) is an open-source database including information on terrorist attacks around the world from 1970 through 2017. The GTD includes systematic data on domestic as well as international terrorist incidents that have occurred during this time period and now includes more than 180,000 attacks. The database is maintained by researchers at the National Consortium for the Study of Terrorism and Responses to Terrorism (START), headquartered at the University of Maryland.</b>

# <b> Explore and analyze the data to discover key findings pertaining to terrorist activities. </b>

In [1]:
import numpy as np
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
path = '/content/drive/MyDrive/Capstone project/Global_Terrorism_Data (1).csv'
df = pd.read_csv(path, encoding='ISO-8859-1')
df

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181686,201712310022,2017,12,31,NaN,0,NaN,182,Somalia,11,...,NaN,"""Somalia: Al-Shabaab Militants Attack Army Che...","""Highlights: Somalia Daily Media Highlights 2 ...","""Highlights: Somalia Daily Media Highlights 1 ...",START Primary Collection,0,0,0,0,NaN
181687,201712310029,2017,12,31,NaN,0,NaN,200,Syria,10,...,NaN,"""Putin's 'victory' in Syria has turned into a ...","""Two Russian soldiers killed at Hmeymim base i...","""Two Russian servicemen killed in Syria mortar...",START Primary Collection,-9,-9,1,1,NaN
181688,201712310030,2017,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""Maguindanao clashes trap tribe members,"" Phil...",NaN,NaN,START Primary Collection,0,0,0,0,NaN
181689,201712310031,2017,12,31,NaN,0,NaN,92,India,6,...,NaN,"""Trader escapes grenade attack in Imphal,"" Bus...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
181690,201712310032,2017,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""Security tightened in Cotabato following IED ...","""Security tightened in Cotabato City,"" Manila ...",NaN,START Primary Collection,-9,-9,0,-9,NaN

In [4]:
df.info(verbose= True, null_counts = True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  """Entry point for launching an IPython kernel.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 135 columns):
 #    Column              Non-Null Count   Dtype
---   ------              --------------   -----
 0    eventid             181691 non-null  int64
 1    iyear               181691 non-null  int64
 2    imonth              181691 non-null  int64
 3    iday                181691 non-null  int64
 4    approxdate          9239 non-null    object
 5    extended            181691 non-null  int64
 6    resolution          2220 non-null    object
 7    country             181691 non-null  int64
 8    country_txt         181691 non-null  object
 9    region              181691 non-null  int64
 10   region_txt          181691 non-null  object
 11   provstate           181270 non-null  object
 12   city                181257 non-null  object
 13   latitude            177135 non-null  float64
 14   longitude           177134 non-null  float64
 15   specificity         181685 non-null  float64
 16   vicinity            181691 non-null  int64
 17   location            55495 non-null   object
 18   summary             115562 non-null  object
 19   crit1               181691 non-null  int64
 20   crit2               181691 non-null  int64
 21   crit3               181691 non-null  int64
 22   doubtterr           181690 non-null  float64
 23   alternative         29011 non-null   float64
 24   alternative_txt     29011 non-null   object
 25   multiple            181690 non-null  float64
 26   success             181691 non-null  int64
 27   suicide             181691 non-null  int64
 28   attacktype1         181691 non-null  int64
 29   attacktype1_txt     181691 non-null  object
 30   attacktype2         6314 non-null    float64
 31   attacktype2_txt     6314 non-null    object
 32   attacktype3         428 non-null     float64
 33   attacktype3_txt     428 non-null     object
 34   targtype1           181691 non-null  int64
 35   targtype1_txt       181691 non-null  object
 36   targsubtype1        171318 non-null  float64
 37   targsubtype1_txt    171318 non-null  object
 38   corp1               139141 non-null  object
 39   target1             181055 non-null  object
 40   natlty1             180132 non-null  float64
 41   natlty1_txt         180132 non-null  object
 42   targtype2           11144 non-null   float64
 43   targtype2_txt       11144 non-null   object
 44   targsubtype2        10685 non-null   float64
 45   targsubtype2_txt    10685 non-null   object
 46   corp2               10117 non-null   object
 47   target2             11020 non-null   object
 48   natlty2             10828 non-null   float64
 49   natlty2_txt         10828 non-null   object
 50   targtype3           1176 non-null    float64
 51   targtype3_txt       1176 non-null    object
 52   targsubtype3        1097 non-null    float64
 53   targsubtype3_txt    1097 non-null    object
 54   corp3               1026 non-null    object
 55   target3             1175 non-null    object
 56   natlty3             1147 non-null    float64
 57   natlty3_txt         1147 non-null    object
 58   gname               181691 non-null  object
 59   gsubname            5890 non-null    object
 60   gname2              2013 non-null    object
 61   gsubname2           160 non-null     object
 62   gname3              324 non-null     object
 63   gsubname3           20 non-null      object
 64   motive              50561 non-null   object
 65   guncertain1         181311 non-null  float64
 66   guncertain2         1955 non-null    float64
 67   guncertain3         320 non-null     float64
 68   individual          181691 non-null  int64
 69   nperps              110576 non-null  float64
 70   nperpcap            112202 non-null  float64
 71   claimed             115571 non-null  float64
 72   claimmode           19083 non-null   float64
 73   claimmode_txt       19083 non-null   object
 74   claim2              1890 non-null    float64
 75   claimmode2          616 non-null     float64
 76   claimmode2_txt      616 non-null     object
 77   claim3              318 non-null     float64
 78   claimmode3          133 non-null     float64
 79   claimmode3_txt      133 non-null     object
 80   compclaim           4839 non-null    float64
 81   weaptype1           181691 non-null  int64
 82   weaptype1_txt       181691 non-null  object
 83   weapsubtype1        160923 non-null  float64
 84   weapsubtype1_txt    160923 non-null  object
 85   weaptype2           13127 non-null   float64
 86   weaptype2_txt       13127 non-null   object
 87   weapsubtype2        11542 non-null   float64
 88   weapsubtype2_txt    11542 non-null   object
 89   weaptype3           1863 non-null    float64
 90   weaptype3_txt       1863 non-null    object
 91   weapsubtype3        1693 non-null    float64
 92   weapsubtype3_txt    1693 non-null    object
 93   weaptype4           73 non-null      float64
 94   weaptype4_txt       73 non-null      object
 95   weapsubtype4        70 non-null      float64
 96   weapsubtype4_txt    70 non-null      object
 97   weapdetail          114021 non-null  object
 98   nkill               171378 non-null  float64
 99   nkillus             117245 non-null  float64
 100  nkillter            114733 non-null  float64
 101  nwound              165380 non-null  float64
 102  nwoundus            116989 non-null  float64
 103  nwoundte            112548 non-null  float64
 104  property            181691 non-null  int64
 105  propextent          64065 non-null   float64
 106  propextent_txt      64065 non-null   object
 107  propvalue           38989 non-null   float64
 108  propcomment         57959 non-null   object
 109  ishostkid           181513 non-null  float64
 110  nhostkid            13572 non-null   float64
 111  nhostkidus          13517 non-null   float64
 112  nhours              4063 non-null    float64
 113  ndays               8124 non-null    float64
 114  divert              324 non-null     object
 115  kidhijcountry       3305 non-null    object
 116  ransom              77381 non-null   float64
 117  ransomamt           1350 non-null    float64
 118  ransomamtus         563 non-null     float64
 119  ransompaid          774 non-null     float64
 120  ransompaidus        552 non-null     float64
 121  ransomnote          514 non-null     object
 122  hostkidoutcome      10991 non-null   float64
 123  hostkidoutcome_txt  10991 non-null   object
 124  nreleased           10400 non-null   float64
 125  addnotes            28289 non-null   object
 126  scite1              115500 non-null  object
 127  scite2              76933 non-null   object
 128  scite3              43516 non-null   object
 129  dbsource            181691 non-null  object
 130  INT_LOG             181691 non-null  int64
 131  INT_IDEO            181691 non-null  int64
 132  INT_MISC            181691 non-null  int64
 133  INT_ANY             181691 non-null  int64
 134  related             25038 non-null   object
dtypes: float64(55), int64(22), object(58)
memory usage: 187.1+ MB

In [5]:
df.resolution.value_counts()

8/4/1998      18
2/23/1988     11
10/14/2005     8
1/8/2010       8
2/22/1994      8
              ..
2/9/1991       1
2/1/1991       1
1/15/1991      1
1/12/1991      1
12/27/2011     1
Name: resolution, Length: 1859, dtype: int64

In [6]:
df.extended.value_counts()

0    173452
1      8239
Name: extended, dtype: int64

In [7]:
list(df.approxdate)

[nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'January 19-20, 1970',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'February 6-9, 1970',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'February 11-14, 1970',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'February 16-17, 1970',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'March 16-17, 1970',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'May 27 - June 5, 1970',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'February 25-28, 1971',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'March 6-7, 1971',
 'March 6-7, 1971',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'June 14-16, 1971',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'June 24-25, 1971',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'July 18-19, 1971',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 ...]

In [8]:
df.head(2)

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN

In [9]:
list(df.columns)

['eventid',
 'iyear',
 'imonth',
 'iday',
 'approxdate',
 'extended',
 'resolution',
 'country',
 'country_txt',
 'region',
 'region_txt',
 'provstate',
 'city',
 'latitude',
 'longitude',
 'specificity',
 'vicinity',
 'location',
 'summary',
 'crit1',
 'crit2',
 'crit3',
 'doubtterr',
 'alternative',
 'alternative_txt',
 'multiple',
 'success',
 'suicide',
 'attacktype1',
 'attacktype1_txt',
 'attacktype2',
 'attacktype2_txt',
 'attacktype3',
 'attacktype3_txt',
 'targtype1',
 'targtype1_txt',
 'targsubtype1',
 'targsubtype1_txt',
 'corp1',
 'target1',
 'natlty1',
 'natlty1_txt',
 'targtype2',
 'targtype2_txt',
 'targsubtype2',
 'targsubtype2_txt',
 'corp2',
 'target2',
 'natlty2',
 'natlty2_txt',
 'targtype3',
 'targtype3_txt',
 'targsubtype3',
 'targsubtype3_txt',
 'corp3',
 'target3',
 'natlty3',
 'natlty3_txt',
 'gname',
 'gsubname',
 'gname2',
 'gsubname2',
 'gname3',
 'gsubname3',
 'motive',
 'guncertain1',
 'guncertain2',
 'guncertain3',
 'individual',
 'nperps',
 'nperpcap',
 'claimed',
 'claimmode',
 'claimmode_txt',
 'claim2',
 'claimmode2',
 'claimmode2_txt',
 'claim3',
 'claimmode3',
 'claimmode3_txt',
 'compclaim',
 'weaptype1',
 'weaptype1_txt',
 'weapsubtype1',
 'weapsubtype1_txt',
 'weaptype2',
 'weaptype2_txt',
 'weapsubtype2',
 'weapsubtype2_txt',
 'weaptype3',
 'weaptype3_txt',
 'weapsubtype3',
 'weapsubtype3_txt',
 'weaptype4',
 'weaptype4_txt',
 'weapsubtype4',
 'weapsubtype4_txt',
 'weapdetail',
 'nkill',
 'nkillus',
 'nkillter',
 'nwound',
 'nwoundus',
 'nwoundte',
 'property',
 'propextent',
 'propextent_txt',
 'propvalue',
 'propcomment',
 'ishostkid',
 'nhostkid',
 'nhostkidus',
 'nhours',
 'ndays',
 'divert',
 'kidhijcountry',
 'ransom',
 'ransomamt',
 'ransomamtus',
 'ransompaid',
 'ransompaidus',
 'ransomnote',
 'hostkidoutcome',
 'hostkidoutcome_txt',
 'nreleased',
 'addnotes',
 'scite1',
 'scite2',
 'scite3',
 'dbsource',
 'INT_LOG',
 'INT_IDEO',
 'INT_MISC',
 'INT_ANY',
 'related']

In [10]:
df.describe()

,eventid,iyear,imonth,iday,extended,country,region,latitude,longitude,specificity,...,ransomamt,ransomamtus,ransompaid,ransompaidus,hostkidoutcome,nreleased,INT_LOG,INT_IDEO,INT_MISC,INT_ANY
count,1.816910e+05,181691.000000,181691.000000,181691.000000,181691.000000,181691.000000,181691.000000,177135.000000,1.771340e+05,181685.000000,...,1.350000e+03,5.630000e+02,7.740000e+02,552.000000,10991.000000,10400.000000,181691.000000,181691.000000,181691.000000,181691.000000
mean,2.002705e+11,2002.638997,6.467277,15.505644,0.045346,131.968501,7.160938,23.498343,-4.586957e+02,1.451452,...,3.172530e+06,5.784865e+05,7.179437e+05,240.378623,4.629242,-29.018269,-4.543731,-4.464398,0.090010,-3.945952
std,1.325957e+09,13.259430,3.388303,8.814045,0.208063,112.414535,2.933408,18.569242,2.047790e+05,0.995430,...,3.021157e+07,7.077924e+06,1.014392e+07,2940.967293,2.035360,65.720119,4.543547,4.637152,0.568457,4.691325
min,1.970000e+11,1970.000000,0.000000,0.000000,0.000000,4.000000,1.000000,-53.154613,-8.618590e+07,1.000000,...,-9.900000e+01,-9.900000e+01,-9.900000e+01,-99.000000,1.000000,-99.000000,-9.000000,-9.000000,-9.000000,-9.000000
25%,1.991021e+11,1991.000000,4.000000,8.000000,0.000000,78.000000,5.000000,11.510046,4.545640e+00,1.000000,...,0.000000e+00,0.000000e+00,-9.900000e+01,0.000000,2.000000,-99.000000,-9.000000,-9.000000,0.000000,-9.000000
50%,2.009022e+11,2009.000000,6.000000,15.000000,0.000000,98.000000,6.000000,31.467463,4.324651e+01,1.000000,...,1.500000e+04,0.000000e+00,0.000000e+00,0.000000,4.000000,0.000000,-9.000000,-9.000000,0.000000,0.000000
75%,2.014081e+11,2014.000000,9.000000,23.000000,0.000000,160.000000,10.000000,34.685087,6.871033e+01,1.000000,...,4.000000e+05,0.000000e+00,1.273412e+03,0.000000,7.000000,1.000000,0.000000,0.000000,0.000000,0.000000
max,2.017123e+11,2017.000000,12.000000,31.000000,1.000000,1004.000000,12.000000,74.633553,1.793667e+02,5.000000,...,1.000000e+09,1.320000e+08,2.750000e+08,48000.000000,7.000000,2769.000000,1.000000,1.000000,1.000000,1.000000

In [12]:
new_df = df.copy()

In [13]:
new_df.fillna(0, inplace =True)

In [11]:
df.provstate

0                     NaN
1                 Federal
2                  Tarlac
3                  Attica
4                 Fukouka
               ...
181686    Middle Shebelle
181687           Lattakia
181688        Maguindanao
181689            Manipur
181690        Maguindanao
Name: provstate, Length: 181691, dtype: object

In [14]:
df.info(verbose = True,  null_counts = True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  """Entry point for launching an IPython kernel.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 135 columns):
 #    Column              Non-Null Count   Dtype
---   ------              --------------   -----
 0    eventid             181691 non-null  int64
 1    iyear               181691 non-null  int64
 2    imonth              181691 non-null  int64
 3    iday                181691 non-null  int64
 4    approxdate          9239 non-null    object
 5    extended            181691 non-null  int64
 6    resolution          2220 non-null    object
 7    country             181691 non-null  int64
 8    country_txt         181691 non-null  object
 9    region              181691 non-null  int64
 10   region_txt          181691 non-null  object
 11   provstate           181270 non-null  object
 12   city                181257 non-null  object
 13   latitude            177135 non-null  float64
 14   longitude           177134 non-null  float64
 15   specificity         181685 non-null  float64
 16   vicinity            181691 non-null  int64
 17   location            55495 non-null   object
 18   summary             115562 non-null  object
 19   crit1               181691 non-null  int64
 20   crit2               181691 non-null  int64
 21   crit3               181691 non-null  int64
 22   doubtterr           181690 non-null  float64
 23   alternative         29011 non-null   float64
 24   alternative_txt     29011 non-null   object
 25   multiple            181690 non-null  float64
 26   success             181691 non-null  int64
 27   suicide             181691 non-null  int64
 28   attacktype1         181691 non-null  int64
 29   attacktype1_txt     181691 non-null  object
 30   attacktype2         6314 non-null    float64
 31   attacktype2_txt     6314 non-null    object
 32   attacktype3         428 non-null     float64
 33   attacktype3_txt     428 non-null     object
 34   targtype1           181691 non-null  int64
 35   targtype1_txt       181691 non-null  object
 36   targsubtype1        171318 non-null  float64
 37   targsubtype1_txt    171318 non-null  object
 38   corp1               139141 non-null  object
 39   target1             181055 non-null  object
 40   natlty1             180132 non-null  float64
 41   natlty1_txt         180132 non-null  object
 42   targtype2           11144 non-null   float64
 43   targtype2_txt       11144 non-null   object
 44   targsubtype2        10685 non-null   float64
 45   targsubtype2_txt    10685 non-null   object
 46   corp2               10117 non-null   object
 47   target2             11020 non-null   object
 48   natlty2             10828 non-null   float64
 49   natlty2_txt         10828 non-null   object
 50   targtype3           1176 non-null    float64
 51   targtype3_txt       1176 non-null    object
 52   targsubtype3        1097 non-null    float64
 53   targsubtype3_txt    1097 non-null    object
 54   corp3               1026 non-null    object
 55   target3             1175 non-null    object
 56   natlty3             1147 non-null    float64
 57   natlty3_txt         1147 non-null    object
 58   gname               181691 non-null  object
 59   gsubname            5890 non-null    object
 60   gname2              2013 non-null    object
 61   gsubname2           160 non-null     object
 62   gname3              324 non-null     object
 63   gsubname3           20 non-null      object
 64   motive              50561 non-null   object
 65   guncertain1         181311 non-null  float64
 66   guncertain2         1955 non-null    float64
 67   guncertain3         320 non-null     float64
 68   individual          181691 non-null  int64
 69   nperps              110576 non-null  float64
 70   nperpcap            112202 non-null  float64
 71   claimed             115571 non-null  float64
 72   claimmode           19083 non-null   float64
 73   claimmode_txt       19083 non-null   object
 74   claim2              1890 non-null    float64
 75   claimmode2          616 non-null     float64
 76   claimmode2_txt      616 non-null     object
 77   claim3              318 non-null     float64
 78   claimmode3          133 non-null     float64
 79   claimmode3_txt      133 non-null     object
 80   compclaim           4839 non-null    float64
 81   weaptype1           181691 non-null  int64
 82   weaptype1_txt       181691 non-null  object
 83   weapsubtype1        160923 non-null  float64
 84   weapsubtype1_txt    160923 non-null  object
 85   weaptype2           13127 non-null   float64
 86   weaptype2_txt       13127 non-null   object
 87   weapsubtype2        11542 non-null   float64
 88   weapsubtype2_txt    11542 non-null   object
 89   weaptype3           1863 non-null    float64
 90   weaptype3_txt       1863 non-null    object
 91   weapsubtype3        1693 non-null    float64
 92   weapsubtype3_txt    1693 non-null    object
 93   weaptype4           73 non-null      float64
 94   weaptype4_txt       73 non-null      object
 95   weapsubtype4        70 non-null      float64
 96   weapsubtype4_txt    70 non-null      object
 97   weapdetail          114021 non-null  object
 98   nkill               171378 non-null  float64
 99   nkillus             117245 non-null  float64
 100  nkillter            114733 non-null  float64
 101  nwound              165380 non-null  float64
 102  nwoundus            116989 non-null  float64
 103  nwoundte            112548 non-null  float64
 104  property            181691 non-null  int64
 105  propextent          64065 non-null   float64
 106  propextent_txt      64065 non-null   object
 107  propvalue           38989 non-null   float64
 108  propcomment         57959 non-null   object
 109  ishostkid           181513 non-null  float64
 110  nhostkid            13572 non-null   float64
 111  nhostkidus          13517 non-null   float64
 112  nhours              4063 non-null    float64
 113  ndays               8124 non-null    float64
 114  divert              324 non-null     object
 115  kidhijcountry       3305 non-null    object
 116  ransom              77381 non-null   float64
 117  ransomamt           1350 non-null    float64
 118  ransomamtus         563 non-null     float64
 119  ransompaid          774 non-null     float64
 120  ransompaidus        552 non-null     float64
 121  ransomnote          514 non-null     object
 122  hostkidoutcome      10991 non-null   float64
 123  hostkidoutcome_txt  10991 non-null   object
 124  nreleased           10400 non-null   float64
 125  addnotes            28289 non-null   object
 126  scite1              115500 non-null  object
 127  scite2              76933 non-null   object
 128  scite3              43516 non-null   object
 129  dbsource            181691 non-null  object
 130  INT_LOG             181691 non-null  int64
 131  INT_IDEO            181691 non-null  int64
 132  INT_MISC            181691 non-null  int64
 133  INT_ANY             181691 non-null  int64
 134  related             25038 non-null   object
dtypes: float64(55), int64(22), object(58)
memory usage: 187.1+ MB